<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/default_layout">

<th:block layout:fragment="head">
    <title>Lock Poc</title>
</th:block>
<body>
<th:block layout:fragment="header" th:include="/fragments/header"></th:block>


<div layout:fragment="content" class="content container">
    <div class="alert alert-primary" role="alert">
        <span id="concurrentUser"></span> 님이 보고있습니다.
    </div>

    <ul class="list-group">
        <li class="list-group-item active" aria-current="true">상품 작성</li>
    </ul>

    <div style="margin-top: 10px">
        <div class="mb-3">
            <label for="exampleInputName" class="form-label">상품명</label>
            <input type="text" class="form-control" id="exampleInputName"
                   th:value="${item.name}">
        </div>
        <div class="mb-3">
            <label for="exampleInputQuantity" class="form-label">재고</label>
            <input type="text" class="form-control" id="exampleInputQuantity"
                   th:value="${item.quantity}">
        </div>
        <button id="updateProduct" type="submit" class="btn btn-primary">제출</button>
    </div>

</div>

<script>
    $(function () {
        const websocket = new WebSocket("ws://localhost:8080/ws/lock");
        websocket.onmessage = onMessage;
        function onMessage(msg) {
            console.log('msg', msg.data);
            $("#concurrentUser").text(msg.data);
        }
    })
</script>

<th:block layout:fragment="footer" th:include="/fragments/footer"></th:block>
</body>
</html>

